<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="f-info-brand">  Wanderlust Private limited &copy; </div>
        <div class="f-info-links">
            <a href="/about">About us</a>
            <a href="/contact">Contact us</a>
        </div>
    </div>
</footer>